.detail(cg-busy='vm.busy')

  uib-tabset

    uib-tab(
    heading='Info'
    )
      ng-include(src='"app/detail/detailInfo.html"')

    uib-tab(
    heading="Files"
    disable="!vm.minBuild(341) || vm.session.destroyed"
    ng-click="vm.minBuild(341) && !vm.session.destroyed && vm.getFileList()"
    )
      ng-include(src='"app/detail/detailFiles.html"')

    uib-tab(
    heading="Data"
    disable="!vm.minBuild(341) || vm.session.destroyed"
    ng-click="vm.minBuild(341) && !vm.session.destroyed && vm.getEntityList()"
    )

      section.detail-tab-section(ng-include='"app/detail/detailData.html"')
