.detail

  uib-tabset

    uib-tab(heading="Info")

      table.table(ng-table="vm.tableParams" class="table table-bordered table-striped")

        thead

          tr(
          ng-repeat='(key, val) in $data'
          )

        tr(
        ng-repeat='(key, value) in $data'
        )

          td.key {{ key }}

          td.value
            a(
            href
            ng-class='{ disabled: !vm.presentObject(value) }'
            uib-popover-template='"app/detail/showObject.html"'
            popover-trigger="'outsideClick'"
            popover-placement="bottom auto"
            ) {{ value | reduceObject }}

    uib-tab(heading="Files" disable="!vm.isDevice()" ng-click="vm.getFileList()")

      .tree(ui-tree='' data-drag-enabled="false" data-empty-placeholder-enabled="false")
        ol(ui-tree-nodes='' ng-model='vm.files')
          li(ng-repeat='node in vm.files', ui-tree-node='' ng-include="'app/detail/parent_items_renderer.html'")

    uib-tab(heading="Data" disable="!vm.isDevice()" ng-click="vm.getDataList()")

      .tree(ui-tree='' data-drag-enabled="false" data-empty-placeholder-enabled="false")
        ol(ui-tree-nodes='' ng-model='vm.data')
          li(ng-repeat='node in vm.data' ui-tree-node='' ng-include="'app/detail/parent_items_renderer.html'" ng-click="vm.getEntity(node)")
