.detail(cg-busy='vm.busy')

  uib-tabset

    uib-tab(heading="Info")

      ul

        li.session(
        ng-repeat='(key, value) in vm.session'
        ng-if="key != 'visibleColumnCount' && key != 'commands'"
        )

          label.key {{ key }}

          span.value
            a(
            href
            ng-class='{ disabled: !vm.presentObject(value) }'
            uib-popover-template='"app/detail/showObject.html"'
            popover-trigger="'outsideClick'"
            popover-placement="bottom auto"
            ) {{ value | reduceObject }}

        li.session(
        ng-repeat='(key, value) in vm.session'
        ng-if="key == 'commands'"
        )

          label.key {{ key }}

          span.value(ng-repeat='b in value')

            button(type="button" class="btn btn-primary" ng-disabled="vm.session.destroyed" ng-click="vm.busy = b.action()") {{ b.buttonName }}

    uib-tab(
    heading="Files"
    disable="!vm.minBuild(341) || vm.session.destroyed"
    ng-click="vm.minBuild(341) && !vm.session.destroyed && vm.getFileList()"
    )

      input.form-control(ng-model="searchText")

      .tree.scroll-y(
      ui-tree data-drag-enabled="false" data-empty-placeholder-enabled="false"
      resize resize-offset-top='10'
      )
        ol(ui-tree-nodes='' ng-model='vm.files')
          li(ng-repeat='node in vm.files | filter:searchText', ui-tree-node='' ng-include="'app/detail/parent_items_renderer.html'")

    uib-tab(
    heading="Data"
    disable="!vm.minBuild(341) || vm.session.destroyed"
    ng-click="vm.minBuild(341) && !vm.session.destroyed && vm.getEntityList()"
    )

      .entityTab

        ul.entityList
          li(ng-repeat = 'entity in vm.entityList')
            a(href ="" ng-click='vm.getEntity(entity.name)') {{entity.name}}

        div
          table(ng-table="vm.entityParams" class="table table-bordered table-striped" ng-show="vm.entities[vm.selectedEntity] && vm.entities[vm.selectedEntity] != 0")

            thead

              tr

                td.header(ng-repeat='(key,value) in $data[0]') {{key}}

            tr(ng-repeat='entity in $data')
              td(ng-repeat='(key,value) in entity') {{value}}
