a(href ng-click='vm.goBack()') Go back

.detail

  table.table(ng-table="vm.tableParams" class="table table-bordered table-striped")

    thead

      tr(
      ng-repeat='(key, val) in $data'
      )

    tr(
    ng-repeat='(key, value) in $data'
    )

      td.key {{ key}}

      td.value
        a(
        href
        ng-class='{ disabled: !vm.presentObject(value) }'
        uib-popover-template='"app/components/showObject/showObject.html"'
        popover-trigger="'outsideClick'"
        popover-placement="bottom auto"
        ) {{ value | reduceObject}}
