.detail(cg-busy='vm.busy')

  uib-tabset

    uib-tab(heading="Info")

      table.table(ng-table="vm.tableParams" class="table table-bordered table-striped")

        thead

        tr(
        ng-repeat='(key, value) in $data'
        ng-if="key != 'visibleColumnCount' && key != 'commands'"
        )

          td.key {{ key }}

          td.value
            a(
            href
            ng-class='{ disabled: !vm.presentObject(value) }'
            uib-popover-template='"app/detail/showObject.html"'
            popover-trigger="'outsideClick'"
            popover-placement="bottom auto"
            ) {{ value | reduceObject }}

        tr(
        ng-repeat='(key, value) in $data'
        ng-if="key == 'commands'"
        )

          td.key {{ key }}

          td.value

            span(ng-repeat='b in value')

              button(type="button" class="btn btn-primary" ng-disabled="vm.session.destroyed" ng-click="b.action()") {{ b.buttonName }}



    uib-tab(
    heading="Files"
    disable="!vm.minBuild(341) || vm.session.destroyed"
    ng-click="vm.minBuild(341) && !vm.session.destroyed && vm.getFileList()"
    )

      input.form-control(ng-model="searchText")

      .tree.scroll-y(
      ui-tree data-drag-enabled="false" data-empty-placeholder-enabled="false"
      resize resize-offset-top='10'
      )
        ol(ui-tree-nodes='' ng-model='vm.files')
          li(ng-repeat='node in vm.files | filter:searchText', ui-tree-node='' ng-include="'app/detail/parent_items_renderer.html'")

    uib-tab(
    heading="Data"
    disable="!vm.minBuild(341) || vm.session.destroyed"
    ng-click="vm.minBuild(341) && !vm.session.destroyed && vm.getEntityList()"
    )

      .tree.scroll-y(
      ui-tree data-drag-enabled="false" data-empty-placeholder-enabled="false"
      resize resize-offset-top='10'
      )
        ol(ui-tree-nodes='' ng-model='vm.data')
          li(ng-repeat='node in vm.data' ui-tree-node='' ng-include="'app/detail/parent_items_renderer.html'")
